In [116]:
import pandas as pd
import numpy as np
from statsmodels.stats.anova import AnovaRM

In [117]:
FOG_Stim_conditions = pd.read_csv('FOG_Stim_conditions.csv', sep = ';')

In [118]:
FOG_Stim_conditions.dtypes

patient               int64
UPDRS_III           float64
Item_3_10           float64
Item_3_11           float64
Item_3_12           float64
SWS_time_s          float64
SWS_N_FOG_Events    float64
HY                  float64
AIMS                float64
condition            object
dtype: object

In [119]:
FOG_Stim_conditions.isnull().sum()

patient              0
UPDRS_III            4
Item_3_10            4
Item_3_11            4
Item_3_12            4
SWS_time_s           9
SWS_N_FOG_Events     9
HY                   4
AIMS                10
condition            0
dtype: int64

In [120]:
FOG_Stim_conditions.nunique()

patient             18
UPDRS_III           39
Item_3_10            5
Item_3_11            5
Item_3_12            5
SWS_time_s          69
SWS_N_FOG_Events    24
HY                   4
AIMS                19
condition            5
dtype: int64

In [121]:
print(FOG_Stim_conditions)

    patient  UPDRS_III  Item_3_10  Item_3_11  Item_3_12  SWS_time_s  \
0      1684       43.0        2.0        0.0        0.0        42.0
1    486931       53.0        2.0        0.0        0.0        38.0
2    600294       46.0        2.0        3.0        0.0        40.0
3   1093025       50.0        2.0        2.0        3.0        83.0
4   1102776       53.0        2.0        3.0        3.0        49.0
..      ...        ...        ...        ...        ...         ...
85  2126706        NaN        NaN        NaN        NaN         NaN
86  2162586       62.0        2.0        4.0        0.0        58.0
87  2223671       44.0        2.0        4.0        0.0       166.0
88  2295512       29.0        2.0        2.0        0.0        55.0
89  2307872        NaN        NaN        NaN        NaN         NaN

    SWS_N_FOG_Events   HY  AIMS            condition
0                0.0  2.0   0.0      MED_OFF_STIM_ON
1                0.0  2.0   0.0      MED_OFF_STIM_ON
2                4.0  2.0   4.0      MED_OFF_STIM_ON
3                2.0  3.0   4.0      MED_OFF_STIM_ON
4                6.0  4.0  26.0      MED_OFF_STIM_ON
..               ...  ...   ...                  ...
85               NaN  NaN   NaN  MED_ON_STIM_ON_60Hz
86               3.0  2.0  10.0  MED_ON_STIM_ON_60Hz
87              12.0  3.0  12.0  MED_ON_STIM_ON_60Hz
88               4.0  2.0  20.0  MED_ON_STIM_ON_60Hz
89               NaN  NaN   NaN  MED_ON_STIM_ON_60Hz

[90 rows x 10 columns]

In [122]:
FOG_Stim_conditions = FOG_Stim_conditions.fillna(FOG_Stim_conditions.groupby('condition').transform('mean'))

In [123]:
FOG_Stim_conditions.isnull().sum()

patient             0
UPDRS_III           0
Item_3_10           0
Item_3_11           0
Item_3_12           0
SWS_time_s          0
SWS_N_FOG_Events    0
HY                  0
AIMS                0
condition           0
dtype: int64

In [124]:
#  Conduct the repeated measures ANOVA (UPDRS_III)

print(AnovaRM(data=FOG_Stim_conditions, 
              depvar="UPDRS_III",
              subject="patient", 
              within=["condition"]).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
condition 40.9568 4.0000 68.0000 0.0000
=======================================

In [125]:
#  Conduct the repeated measures ANOVA (Item_3_10)

print(AnovaRM(data=FOG_Stim_conditions, 
              depvar="Item_3_10",
              subject="patient", 
              within=["condition"]).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
condition  2.3409 4.0000 68.0000 0.0637
=======================================

In [126]:
#  Conduct the repeated measures ANOVA (Item_3_11)

print(AnovaRM(data=FOG_Stim_conditions, 
              depvar="Item_3_11",
              subject="patient", 
              within=["condition"]).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
condition  3.8409 4.0000 68.0000 0.0071
=======================================

In [127]:
#  Conduct the repeated measures ANOVA (Item_3_12)

print(AnovaRM(data=FOG_Stim_conditions, 
              depvar="Item_3_12",
              subject="patient", 
              within=["condition"]).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
condition  6.2023 4.0000 68.0000 0.0003
=======================================

In [128]:
#  Conduct the repeated measures ANOVA (SWS_time_s)

print(AnovaRM(data=FOG_Stim_conditions, 
              depvar="SWS_time_s",
              subject="patient", 
              within=["condition"]).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
condition  5.9643 4.0000 68.0000 0.0004
=======================================

In [129]:
#  Conduct the repeated measures ANOVA (SWS_N_FOG_Events)

print(AnovaRM(data=FOG_Stim_conditions, 
              depvar="SWS_N_FOG_Events",
              subject="patient", 
              within=["condition"]).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
condition  4.7693 4.0000 68.0000 0.0019
=======================================

In [130]:
#  Conduct the repeated measures ANOVA (HY)

print(AnovaRM(data=FOG_Stim_conditions, 
              depvar="HY",
              subject="patient", 
              within=["condition"]).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
condition  3.4084 4.0000 68.0000 0.0134
=======================================

In [131]:
#  Conduct the repeated measures ANOVA (AIMS)

print(AnovaRM(data=FOG_Stim_conditions, 
              depvar="AIMS",
              subject="patient", 
              within=["condition"]).fit())

                 Anova
=======================================
          F Value Num DF  Den DF Pr > F
---------------------------------------
condition  8.4093 4.0000 68.0000 0.0000
=======================================

In [135]:
FOG_Stim_conditions.groupby("condition").describe()["UPDRS_III"]

,count,mean,std,min,25%,50%,75%,max
condition,,,,,,,,
MED_OFF_STIM_OFF,18.0,60.277778,9.429650,41.0,55.25,59.500000,65.75,79.0
MED_OFF_STIM_ON,18.0,43.777778,7.922830,28.0,37.75,46.000000,49.50,54.0
MED_ON_STIM_OFF,18.0,47.777778,10.641514,34.0,37.25,50.500000,54.50,71.0
MED_ON_STIM_ON,18.0,37.500000,9.024477,21.0,30.25,39.500000,45.00,48.0
MED_ON_STIM_ON_60Hz,18.0,40.714286,9.301667,21.0,37.25,40.714286,45.50,62.0

In [134]:
FOG_Stim_conditions.groupby("condition").describe()["Item_3_10"]

                     count      mean       std  min  25%  50%  75%  max
condition
MED_OFF_STIM_OFF      18.0  2.500000  0.618347  2.0  2.0  2.0  3.0  4.0
MED_OFF_STIM_ON       18.0  2.222222  0.427793  2.0  2.0  2.0  2.0  3.0
MED_ON_STIM_OFF       18.0  2.333333  0.840168  1.0  2.0  2.0  3.0  4.0
MED_ON_STIM_ON        18.0  2.111111  0.832352  0.0  2.0  2.0  2.0  4.0
MED_ON_STIM_ON_60Hz   18.0  2.000000  0.342997  1.0  2.0  2.0  2.0  3.0

In [136]:
FOG_Stim_conditions.groupby("condition").describe()["Item_3_11"]

,count,mean,std,min,25%,50%,75%,max
condition,,,,,,,,
MED_OFF_STIM_OFF,18.0,3.222222,0.878204,2.0,2.25,3.500000,4.000000,4.0
MED_OFF_STIM_ON,18.0,2.277778,1.363626,0.0,1.25,2.000000,3.750000,4.0
MED_ON_STIM_OFF,18.0,2.722222,1.274434,1.0,2.00,2.500000,4.000000,4.0
MED_ON_STIM_ON,18.0,2.111111,1.278275,0.0,1.00,2.000000,3.000000,4.0
MED_ON_STIM_ON_60Hz,18.0,2.214286,1.245159,0.0,2.00,2.107143,2.803571,4.0

In [137]:
FOG_Stim_conditions.groupby("condition").describe()["Item_3_12"]

                     count      mean       std  min   25%  50%       75%  max
condition
MED_OFF_STIM_OFF      18.0  1.666667  1.455214  0.0  0.25  1.0  3.000000  4.0
MED_OFF_STIM_ON       18.0  1.111111  1.529663  0.0  0.00  0.0  3.000000  4.0
MED_ON_STIM_OFF       18.0  1.111111  1.567647  0.0  0.00  0.0  2.750000  4.0
MED_ON_STIM_ON        18.0  0.944444  1.513555  0.0  0.00  0.0  1.750000  4.0
MED_ON_STIM_ON_60Hz   18.0  0.571429  0.888772  0.0  0.00  0.0  0.571429  3.0

In [138]:
FOG_Stim_conditions.groupby("condition").describe()["SWS_time_s"]

,count,mean,std,min,25%,50%,75%,max
condition,,,,,,,,
MED_OFF_STIM_OFF,18.0,205.111111,177.849536,39.0,55.50,153.00000,261.000000,599.0
MED_OFF_STIM_ON,18.0,110.666667,129.288551,20.0,35.75,50.50000,122.750000,478.0
MED_ON_STIM_OFF,18.0,108.687500,90.802772,15.0,36.25,86.50000,165.250000,321.0
MED_ON_STIM_ON,18.0,61.187500,39.673993,18.0,31.00,59.09375,68.500000,184.0
MED_ON_STIM_ON_60Hz,18.0,77.076923,48.690453,22.0,55.50,63.50000,77.076923,221.0

In [139]:
FOG_Stim_conditions.groupby("condition").describe()["SWS_N_FOG_Events"]

,count,mean,std,min,25%,50%,75%,max
condition,,,,,,,,
MED_OFF_STIM_OFF,18.0,15.555556,15.538272,2.0,4.00,10.500000,19.750000,55.0
MED_OFF_STIM_ON,18.0,8.555556,11.907596,0.0,1.25,2.500000,11.250000,36.0
MED_ON_STIM_OFF,18.0,8.062500,7.688561,1.0,2.00,4.000000,15.250000,21.0
MED_ON_STIM_ON,18.0,3.500000,3.819455,0.0,1.00,2.000000,3.875000,14.0
MED_ON_STIM_ON_60Hz,18.0,6.538462,7.558520,0.0,2.25,5.269231,6.538462,31.0

In [140]:
FOG_Stim_conditions.groupby("condition").describe()["HY"]

                     count      mean       std  min  25%  50%       75%  max
condition
MED_OFF_STIM_OFF      18.0  2.722222  0.958280  2.0  2.0  2.0  3.000000  5.0
MED_OFF_STIM_ON       18.0  2.500000  0.785905  2.0  2.0  2.0  3.000000  4.0
MED_ON_STIM_OFF       18.0  2.555556  1.041618  2.0  2.0  2.0  2.750000  5.0
MED_ON_STIM_ON        18.0  2.388889  0.849837  2.0  2.0  2.0  2.000000  5.0
MED_ON_STIM_ON_60Hz   18.0  2.142857  0.317554  2.0  2.0  2.0  2.142857  3.0

In [141]:
FOG_Stim_conditions.groupby("condition").describe()["AIMS"]

,count,mean,std,min,25%,50%,75%,max
condition,,,,,,,,
MED_OFF_STIM_OFF,18.0,5.411765,7.933984,0.0,0.0,4.705882,6.000000,32.0
MED_OFF_STIM_ON,18.0,3.764706,6.717225,0.0,0.0,0.000000,4.000000,26.0
MED_ON_STIM_OFF,18.0,9.062500,9.123136,0.0,0.5,8.500000,10.000000,26.0
MED_ON_STIM_ON,18.0,9.125000,11.081914,0.0,2.0,6.000000,9.781250,44.0
MED_ON_STIM_ON_60Hz,18.0,12.857143,11.736605,0.0,4.5,12.428571,16.714286,42.0